<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
    <h1>This is your main view</h1>
    <p>Everything will appear here</p>
    <a th:href="@{/app/income}">Add an income</a>
    <h2>All incomes</h2>
    <div th:each="income : ${incomeList}">
        <p th:text="${'Income amount: ' + income.getIncomeAmount()}"></p>
        <p th:text="${'Income date: ' + income.getIncomeDate()}"></p>
        <p th:text="${'Income time: ' + income.getIncomeTime()}"></p>
        <p th:text="${'Income note: ' + income.getSpecialNote()}"></p>
    </div>
</body>
</html>